@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  75% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  75% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes appear {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.rotate {
  -webkit-animation: rotate 8s infinite ease-in-out;
          animation: rotate 8s infinite ease-in-out;
}

.backNav {
  background-color: #4caf4f;
  font-weight: 700;
}

.phone {
  background-color: #000;
  color: #fff;
  text-align: center;
  font-size: 1.3rem;
  padding: 0.4rem;
}

.carousel {
  width: 90% !important;
  max-height: 20rem;
  border: transparent;
  margin: auto;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.chevron_color {
  background-color: #4caf4f;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}

.carousel-control-next,
.carousel-control-prev {
  color: #000 !important;
  opacity: 1 !important;
}

.description_general p {
  margin: 1.5rem 4rem;
  text-align: justify;
}

.description_general p::first-letter {
  margin-left: 2rem;
}

.description_general p .color {
  color: #4caf4f;
  margin-left: 4rem !important;
  margin-right: 0.6rem;
  -webkit-animation: appear 2s infinite;
          animation: appear 2s infinite;
}

.description_general p:nth-of-type(1) {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #4caf4f;
  font-size: 1.4rem;
  text-shadow: 1px 0px 1px #000;
}

.description_general p:nth-of-type(6) {
  font-weight: bold;
}

.description_general p:nth-of-type(8) {
  text-align: center;
  padding: 1rem;
  margin: 3rem 15%;
  border: 4mm ridge rgba(76, 175, 79, 0.8);
  font-weight: bold;
  font-size: 1.6rem;
}

.footer {
  background-color: #4caf4f;
  padding-bottom: 1rem;
}

.footer .copyright {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1rem;
  font-size: 1.2rem;
}

.footer .director {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 0.5rem;
          column-gap: 0.5rem;
}

.footer .director img {
  width: 4rem;
  height: auto;
}

.footer .director a {
  color: #ee18d1;
  text-shadow: 1px 1px 2px #000;
  text-decoration: none;
}

.footer .director a:hover {
  color: #f3e6db;
}

.insert {
  margin-top: 30%;
  margin-bottom: 30rem;
}

.await {
  text-align: center;
  padding: 1rem;
  margin: 3rem 15%;
  border: 4mm ridge rgba(76, 175, 79, 0.8);
  font-weight: bold;
  font-size: 1.6rem;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.imgShop {
  width: 100%;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.hours {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.hours h1 {
  color: #4caf4f;
  margin-bottom: 2rem;
}

.map h2 {
  color: #4caf4f;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 2.5rem;
}

@media all and (min-width: 700px) {
  .carousel {
    max-height: 30rem;
  }
  .imgShop {
    width: 70%;
    height: auto;
  }
}

@media all and (min-width: 850px) {
  .description_general {
    margin-left: 13%;
    margin-right: 13%;
  }
  .description_general p:nth-of-type(6) {
    font-weight: bold;
    text-align: center;
  }
  .carousel {
    width: 85% !important;
  }
  .info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 4rem;
  }
  .info .imgShop {
    width: 30rem;
    height: auto;
  }
}

@media all and (min-width: 1250px) {
  .carousel {
    max-height: 35rem;
    width: 80%;
  }
  .info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 7rem;
            column-gap: 7rem;
  }
}
/*# sourceMappingURL=style.css.map */