@charset "UTF-8";
html,
body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  padding: 0;
  font-size: 1.1rem;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes appear {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scrolling {
  0% {
    transform: translate3d(0, 0, 0);
    /* position initiale à droite */
  }
  100% {
    transform: translate3d(-100%, 0, 0);
    /* position finale à gauche */
  }
}
.color {
  color: #45a148;
}

.navbar {
  background-color: #45a148;
}
.navbar .navbar-brand {
  font-size: 2rem;
}
.navbar .navbar-nav {
  column-gap: 2rem;
}
.navbar .nav-link {
  margin-top: 5px;
}
.navbar .nav-link:hover {
  color: #000 !important;
  background-color: #444343;
  color: #fff !important;
  border-radius: 5px;
}

.phone {
  background-color: #444343;
  position: sticky;
  z-index: 3;
  top: 0;
}

img, svg {
  vertical-align: baseline;
}

main {
  background-color: rgba(228, 228, 228, 0.5);
}

.card-img img {
  width: 100%;
  height: 25rem;
  border: transparent;
  object-fit: cover;
}

.scrolling_menu {
  max-width: 80%;
  margin: 1.5em auto 2em;
  border: 3px solid #000;
  overflow: hidden;
  font-size: 1.3rem;
  background-color: #fff !important;
  color: rgba(68, 67, 67, 0.7) !important;
  box-shadow: 0 0.15em 0.3em #000, inset 0 0 0.3em 0.1em #fff;
}
.scrolling_menu > :first-child {
  display: inline-block;
  padding-right: 2em;
  padding-left: 100%;
  white-space: nowrap;
  animation: scrolling 45s infinite linear;
}
.scrolling_menu .scrolling_title {
  color: #000;
  font-weight: 700;
}
.scrolling_menu .bullets {
  padding-left: 7px;
  padding-right: 7px;
}

.services {
  max-width: 77%;
  row-gap: 2rem;
}
.services a {
  background-color: rgba(68, 67, 67, 0.7);
}
.services a:hover {
  color: #000 !important;
  border-color: #45a148 !important;
  background-color: #fff !important;
}

.description_general {
  padding-bottom: 3rem;
}
.description_general p {
  margin: 1.5rem 4rem;
  font-size: 1.4rem;
  text-align: justify;
}
.description_general p::first-letter {
  margin-left: 2rem;
}
.description_general p .color {
  margin-left: 4rem !important;
  margin-right: 0.6rem;
  animation: appear 2s infinite;
  color: #45a148;
}
.description_general p:nth-of-type(7) {
  text-align: center;
  padding: 2rem;
  border: 2mm ridge rgba(76, 175, 79, 0.8);
  font-weight: bold;
  font-size: 1.6rem;
  background-color: rgba(68, 67, 67, 0.7);
  color: #fff;
  margin-bottom: 0;
}

.footer {
  background-color: #45a148;
  column-gap: 1rem;
  flex-direction: column;
}
.footer .copyright {
  max-width: 50%;
}
.footer .mermaid {
  width: 4rem;
  margin-bottom: -5px;
}
.footer a:hover {
  color: #FFF !important;
}

.price {
  max-width: 80%;
}

.card {
  width: 13rem;
  height: 18rem;
  margin: 0.5rem;
}
.card img {
  height: 12rem !important;
  object-fit: cover;
}

.info {
  flex-direction: column;
}
.info img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.hours h1 {
  color: #444343;
}

.map h2 {
  color: #444343;
}

.mentions h1 {
  color: #444343;
  text-shadow: 1px 1px 2px #000;
}
.mentions .font {
  color: #444343;
}

.link_home {
  text-shadow: 1px 1px 2px #000;
}
.link_home:hover {
  color: #a79a9a !important;
  font-weight: normal !important;
}
.link_home .arrow {
  width: 40px;
  vertical-align: middle !important;
}

@media all and (max-width: 350px) {
  .navbar .navbar-brand {
    font-size: 1.5rem !important;
  }
}
@media all and (max-width: 480px) {
  .mentions {
    padding-left: 0.5rem;
  }

  .description_general p {
    margin: 1.5rem;
  }

  .services {
    max-width: 90%;
  }

  .card_product .card {
    width: 10rem !important;
    height: 16rem !important;
  }
  .card_product .card img {
    height: 10rem !important;
  }

  .card-img img {
    height: 17rem !important;
  }
}
@media all and (min-width: 700px) {
  .info img {
    width: 70%;
    height: auto;
  }

  .footer {
    flex-direction: row;
  }
}
@media all and (min-width: 850px) {
  .description_general {
    margin-left: 13%;
    margin-right: 13%;
  }

  .info {
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 4rem;
  }
  .info img {
    width: 30rem;
    height: auto;
  }

  .card {
    width: 17rem;
    height: 25rem;
  }
  .card img {
    height: 21rem !important;
  }
}
@media all and (min-width: 1250px) {
  .info {
    justify-content: center;
    column-gap: 7rem;
  }

  .price {
    max-width: 50%;
  }
}

/*# sourceMappingURL=style.css.map */
